:root {
    --primary: #ffd42a;
    --text: #424242;
}

@font-face {
    font-family: 'Whitney Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Medium'), url('/static/fonts/whitneymedium.woff') format('woff');
    }

body {
    background: white;
    font-family: "Whitney Medium", sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: var(--text);
    margin: 0;
    padding: 0;
}

* {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--text);
}

.root {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.container {
}


.feature {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, 100%);
}


.feature-content {
    place-self: stretch;
    max-width: 1060px;
    width: 100%;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: auto 260px;
    grid-template-columns: 100%;
}


button {
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    line-height: 1;
    border-radius: 500px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: black;
    white-space: nowrap;
    transition: 0.1s;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

textarea:focus, input:focus{
    outline: none;
}

.gr-default {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.gr-center {
    justify-self: center;
    align-self: center;
}

.auth {
    justify-self: center;
}

.authbox {
    min-width: 360px;
    max-width: 360px;
    box-shadow: 0 10px 60px rgba(0,0,0,.1);
    border-radius: 7px;
    transition: 0.2s;
}

input {
    border: 1px solid #dcddde;
    border-radius: 7px;
    padding: 0.75rem;
    width: 100%;
    color: black;
}

input:focus {
    border: 1px solid black;
}

.mx-w {
    max-width: 500px; 
}
.flex-one {
    flex: 1;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.sub {
    font-size: 1.5rem;
    line-height: 2rem;
}

.ico {
    cursor: pointer;
}

.smaller {
}

form {
    margin-block-end: 0;
}


.spinner-s {
  border: 3px solid transparent; /* Light grey */
  border-top: 3px solid black;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
    .feature-content {
        grid-template-rows: repeat();
        grid-template-columns: 100%;
    }
    .sub {
        font-size: 1.3rem;
        text-align: center;
    }
    .logo {
        justify-self: center;
        align-self: center;
    }
}
